
@import url('https://fonts.googleapis.com/css?family=Montserrat:600|Open+Sans:600&display=swap');
body{
    background-color: #F3EEE6;
}
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.sidebar{
  position: fixed;
  top:0;
  width: 240px;
  left: -240px;
  height: 100%;
  background: #1e1e1e;
  transition: all .5s ease;
  z-index: 1 !important;
}

.sidebar header{
  font-size: 27px;
  color: white;
  line-height: 70px;
  text-align: center;
  background: #1b1b1b;
  user-select: none;
  font-family: 'Montserrat', sans-serif;
}

.sidebar a{
  display: block;
  height: 65px;
  width: 100%;
  color: white;
  line-height: 65px;
  padding-left: 30px;
  box-sizing: border-box;
  border-bottom: 1px solid black;
  border-top: 1px solid rgba(255,255,255,.1);
  border-left: 5px solid transparent;
  font-family: 'Open Sans', sans-serif;
  transition: all .5s ease;
  text-decoration: none;
}

a.active,.sidebar a:hover{
  border-left: 5px solid #b93632;
  color: #b93632;
}

.sidebar a i{
  font-size: 15px;
}

.sidebar a span{
  letter-spacing: 1px;
  text-transform: uppercase;
}

#check{
  display: none;
}

label #btn,label #cancel{
  position: absolute;
  cursor: pointer;
  color: white;
  border-radius: 5px;
  border: 1px solid #262626;
  margin: 15px 30px;
  font-size: 27px;
  background: #262626;
  height: 45px;
  width: 45px;
  text-align: center;
  line-height: 45px;
  transition: all .5s ease;
}

label #cancel{
  opacity: 0;
  visibility: hidden;
}

#check:checked ~ .sidebar{
  left: 0;
}

#check:checked ~ label #btn{
  margin-left: 245px;
  opacity: 0;
  visibility: hidden;
}

#check:checked ~ label #cancel{
  margin-left: 245px;
  opacity: 1;
  visibility: visible;
}

@media(max-width : 860px){
  .sidebar{
    height: auto;
    width: 230px;
    left: 0;
    margin: 100px 0;
  }
  header,#btn,#cancel{
    display: none;
  }
  span{
    position: absolute;
    margin-left: 23px;
    opacity: 0;
    visibility: hidden;
  }
  .sidebar a{
    height: 60px;
  }
  .sidebar a i{
    margin-left: -10px;
  }
  a:hover {
    width: 200px;
    background: inherit;
  }
  .sidebar a:hover span{
    opacity: 1;
    visibility: visible;
  }
}

.pagination{
  justify-content: center; 
  align-items: center; 
  text-align: center;
  position: relative;
}
.page-item{
  z-index: 3;
  border-radius: 5px 5px 5px 5px;
  text-align: center;
}
.page-item.active .page-link {
  transition: all 100ms ease-in-out 0s;
  background-color: #F7F7F8;
  border-radius: 5px 5px 5px 5px;
  color: #69696E;
  display: block;
  font: 20px/30px Arial, sans-serif;
  margin: 0 5px;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-decoration: none;
  border-color: #69696E;
}

.pagination li a {
  transition: all 100ms ease-in-out 0s;
  background-color: #F7F7F8;
  border-radius: 5px 5px 5px 5px;
  color: #69696E;
  display: block;
  font: 20px/30px Arial, sans-serif;
  margin: 0 5px;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-decoration: none;
}
.pagination li a:hover {
  background-color: #69696E;
  border-radius: 5px 5px 5px 5px;
  color: #FFFFFF;
}
.pagination li.active a {
  background-color: #69696E;
  border-radius: 5px 5px 5px 5px;
  color: #FFFFFF;
}
.pagination li.active a:hover {
  color: #FFFFFF;
  border-radius: 5px 5px 5px 5px;
}
