body {
    background: #f3eee6 0% 0% no-repeat padding-box;
    font-family: Segoe UI;
}

.word {
    padding-top: 10vh;
    padding-bottom: 15vh;
    display: flex;
    justify-content: center;
    width: 60vw;
    height: auto;
    color: #6a6354;
    margin: 0 auto;
    text-align: center;
}
.cover {
    background-image: url(../pic/dog_daily_record_bg.jpg);
    background-size: cover;
    background-position: center;
    z-index: -999;
    opacity: 1;
}
.circular--portrait {
    position: relative;
    width: 110px;
    height: 110px;
    overflow: hidden;
    border-radius: 50%;
}

.circular--portrait img {
    width: 100%;
    height: auto;
}

.dog{
    font-size: 1.1rem;
}

.rounded-3{
    font-size: 20px;
}

.fas.fa-exclamation-circle{
    font-size: 20px;
    color: #ec5050;
    top: 36px;
    left: 36px;
    z-index: 10;
    border-radius: 50%;
    background-color: #fff;
}
@media (min-width: 768px) {
    .circular--portrait {
        width: 180px;
        height: 180px;
    }
    .dog{
        font-size: 1.3rem;
    }
    .fas.fa-exclamation-circle{
        font-size: 30px;
        top: 40px;
        left: 40px;
    }
}
@media (min-width: 992px) {
    .circular--portrait {
        width: 230px;
        height: 230px;
    }
    .fas.fa-exclamation-circle{
        top: 50px;
        left: 50px;
    }
}
