.fa {
    text-decoration: none;
}
body {
    background-color: #f3eee6 !important;
}

.word {
    padding-top: 10vh;
    padding-bottom: 15vh;
    display: flex;
    justify-content: center;
    width: 60vw;
    height: auto;
    margin: 0 auto;
    text-align: center;
    font: normal normal bold 25px Segoe UI;
    letter-spacing: 6.24px;
    color: #5d4646;
}
@media (min-width: 650px) {
    .word {
        padding-top: 10vh;
        padding-bottom: 15vh;
        display: flex;
        justify-content: center;
        width: 60vw;
        height: auto;
        margin: 0 auto;
        text-align: center;
        font: normal normal bold 60px/69px Segoe UI !important;
        letter-spacing: 6.24px;
        color: #5d4646;
    }
}
@media (min-width: 500px) {
    .word {
        padding-top: 10vh;
        padding-bottom: 15vh;
        display: flex;
        justify-content: center;
        width: 60vw;
        height: auto;
        margin: 0 auto;
        text-align: center;
        font: normal normal bold 40px Segoe UI;
        letter-spacing: 6.24px;
        color: #5d4646;
    }
}

.cover {
    background-image: url(../pic/love.jpeg);
    background-size: cover;
    background-position: center;
    z-index: -999;
}
.ftitle {
    font: normal normal bold 18px Segoe UI;
    letter-spacing: 0px;
    white-space: nowrap;
    color: #5d4646 !important;
}
.fcontent {
    font: normal normal bold 14px Segoe UI;
    letter-spacing: 0px;
    white-space: nowrap;
    color: #8b6c6c !important;
}
.f_change{
    font: normal normal bold 24px Segoe UI;
    color: #5d4646 !important;
}
.border {
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 20px;
}
@media (min-width: 768px) {
    .ftitle {
        font: normal normal bold 26px Segoe UI;
        letter-spacing: 3.1px;
    }
    .fcontent {
        font: normal normal bold 24px Segoe UI;
        letter-spacing: 3.1px;
    }
}
